.places__link{
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 122% */
    text-decoration-line: underline;
    margin: 12px 0px 0px 16px;
    color: #ffffff;
    align-self: flex-start;
}
  
.places__link:hover{
    /* color: rgba(255, 255, 255, .8); */
    opacity: 0.8;
}
@media screen and (min-width: 768px) {
    .places__link{
        margin: 12px 0px 0px 0px;
    }
}