.cover{
    background-image: url(../../images/cover-trains.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    
    margin-top: 41px;
}
@media screen and (min-width:768px) {
    .cover{
        margin-top: 90px;
    }
}
@media screen and (min-width:1024px) {
    .cover{
        max-width: 1184px;
        margin: 95px auto 0;
    }
}
@media screen and (min-width: 1280px) {
    .cover{

        min-height: 740px;
        width: 1184px;
    }
}
