.cover__overlay{
    color: #FFFFFF;
    text-decoration: none;
    /* background: rgba(41, 43, 46, .3); */
    background: rgb(42, 44, 47, .3);
   /*  opacity: 0.3; */
    display: block;
    align-items: center;
}
.cover__overlay:hover{
    background: rgb(42, 44, 47, .8);
    /* opacity: 0.8; */
}
@media screen and (min-width:768px) {
    .cover__overlay{
        display: flex;
        flex-direction: column;
        min-height: 480px;
    }
}
@media screen and (min-width:1024px) {
    .cover__overlay{
        
        min-height: 640px;
    }
}
@media screen and (min-width: 1280px) {
    .cover__overlay{
        width: 1184px;
        min-height: 740px;
    }
}