.cover__overlay{
    color: #FFFFFF;
    text-decoration: none;
    background: rgba(41, 43, 46, .3);
    display: block;
    align-items: center;
}
.cover__overlay:hover{
    background: rgba(41, 43, 46, .8);
}
@media screen and (min-width:768px) {
    .cover__overlay{
        display: flex;
        flex-direction: column;
        
        align-items: center;
        
        min-height: 480px;
    }
}
@media screen and (min-width:1024px) {
    .cover__overlay{
        
        min-height: 640px;
    }
}
@media screen and (min-width: 1280px) {
    .cover__overlay{
        min-width: 1184px;
        min-height: 740px;
    }
}