.cover__title{font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    text-align: center;
    margin: 0;
    padding: 33px 16px 0;
}
@media screen and (min-width:768px) {
    .cover__title{
        font-size: 72px;
        line-height: 76px;
        padding: 15% 16px 0;
    }
}
@media screen and (min-width:1024px) {
    .cover__title{
        font-size: 72px;
        line-height: 76px;
        padding: 19% 0px 0;
        width: 524px;
    }
}
@media screen and (min-width:1280px) {
    .cover__title{

        padding: 20% 0px 0;
       
    }
}